@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  font-family: "Lato", arial, helvetica, sans-serif;
}

.container{
  background-image: url('../images/moroccan-flower.png');
  background: cover;
}

.gallery1Container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-top: 125px;
  flex-direction: column;
}

.formG2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  align-items: center; /* add this line */
  height: 80vh;
}

.formG2Div {
  /* padding-bottom: 10px; */
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: space-evenly;
}

.formG2Div h3 {
  width: 33%;
  font-size: 14px;
  background-color: #ffff99;
  border: 3px solid #669933;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
}

.formG2Div h3:hover{
  cursor: default;
}

.formG2Div form {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  padding-top: 10px;
}

.formG2Div input {
  padding: 10px;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #d1d0cd;
  color: black;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.formG2Div .submit {
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
}

.formG2Div img {
  max-width: 250px;
  margin: 0 auto;
}

.introG2 {
  width: 60%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* .introG2 img{
    max-width: 100%;
    height: 50% !important;
} */

.introG2 h1 {
  color: #12bc29;
}

.introG2 h5 {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.introImgG2 {
  height: 75%;
  object-fit:scale-down;
}

.imagesG2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-bottom: 5px;
}

.imagesG2 img {
  /* margin: 5px auto; */
  border-radius: 5px;
  height: 75vh;
  object-fit: fill;
}




/* .galleryItoIIBtn{
  background-color: #cc0033;
  width: 250px;
  height: 75px;
  font-size: 20px;
  border-top: 5px solid #cccccc;
  border-bottom: 5px solid #a30029;
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
}


@keyframes buttonHover {
  0% {
    transform: translateY(1px);
    border-top: 4px solid #cccccc;
    border-bottom: 4px solid #a30029;
  }
  25% {
    transform: translateY(1.5px);
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #a30029;
  }
  50% {
    transform: translateY(2px);
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #a30029;
  }
  75% {
    transform: translateY(2.5px);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #a30029;
  }
  100% {
    transform: translateY(3px);
    border-top: 0;
    border-bottom: 0;
  }
}

@keyframes buttonReverse {
  0% {
    transform: translateY(3px);
    border-top: 0;
    border-bottom: 0;
  }
  25% {
    transform: translateY(2.5px);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #a30029;
  }
  50% {
    transform: translateY(2px);
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #a30029;
  }
  75% {
    transform: translateY(1.5px);
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #a30029;
  }
  100% {
    transform: translateY(1px);
    border-top: 4px solid #cccccc;
    border-bottom: 4px solid #a30029;
  }
}

.galleryItoIIBtn:hover {
  cursor: pointer;
  animation-name: buttonHover;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.galleryItoIIBtn:not(:hover) {
  animation-name: buttonReverse;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


.btnAndFooter{
  width: 100%;
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


footer{
  background-color: black;
  position: relative;
} */

.galleryItoIIBtn {
  background-color: #cc0033;
  width: 250px;
  height: 75px;
  font-size: 20px;
  border-top: 5px solid #cccccc;
  border-bottom: 5px solid #a30029;
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes buttonHover {
  0% {
    transform: translateY(1px);
    border-top: 4px solid #cccccc;
    border-bottom: 4px solid #a30029;
  }
  25% {
    transform: translateY(1.5px);
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #a30029;
  }
  50% {
    transform: translateY(2px);
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #a30029;
  }
  75% {
    transform: translateY(2.5px);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #a30029;
  }
  100% {
    transform: translateY(3px);
    border-top: 0;
    border-bottom: 0;
  }
}

@keyframes buttonReverse {
  0% {
    transform: translateY(3px);
    border-top: 0;
    border-bottom: 0;
  }
  25% {
    transform: translateY(2.5px);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #a30029;
  }
  50% {
    transform: translateY(2px);
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #a30029;
  }
  75% {
    transform: translateY(1.5px);
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #a30029;
  }
  100% {
    transform: translateY(1px);
    border-top: 4px solid #cccccc;
    border-bottom: 4px solid #a30029;
  }
}

.galleryItoIIBtn:hover {
  cursor: pointer;
  animation-name: buttonHover;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.galleryItoIIBtn:not(:hover) {
  animation-name: buttonReverse;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}









.galleryToExtGalleryBtn {
  background-color: #FFFFFF;
  width: 500px;
  height: 75px;
  font-size: 20px;
  border-top: 5px solid #CCCCCC;
  border-bottom: 5px solid #CCCCCC;
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes button2Hover {
  0% {
    transform: translateY(1px);
    border-top: 4px solid #cccccc;
    border-bottom: 4px solid #CCCCCC;
  }
  25% {
    transform: translateY(1.5px);
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #CCCCCC;
  }
  50% {
    transform: translateY(2px);
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #CCCCCC;
  }
  75% {
    transform: translateY(2.5px);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
  }
  100% {
    transform: translateY(3px);
    border-top: 0;
    border-bottom: 0;
  }
}

@keyframes button2Reverse {
  0% {
    transform: translateY(3px);
    border-top: 0;
    border-bottom: 0;
  }
  25% {
    transform: translateY(2.5px);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #CCCCCC;
  }
  50% {
    transform: translateY(2px);
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #CCCCCC;
  }
  75% {
    transform: translateY(1.5px);
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #CCCCCC;
  }
  100% {
    transform: translateY(1px);
    border-top: 4px solid #cccccc;
    border-bottom: 4px solid #CCCCCC;
  }
}

.galleryToExtGalleryBtn:hover {
  cursor: pointer;
  animation-name: button2Hover;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: #CCCCCC;
}

.galleryToExtGalleryBtn:not(:hover) {
  animation-name: button2Reverse;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}



.btnAndFooterG2 {
  width: 100%;
  background-color: black;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

footer {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}


@media (max-width: 900px){

  .gallery2Container{
    height: calc(100% + 200px);
    margin-top: 250px;
  }

  .formG2{
    margin-top: 5%;
    flex-direction: column-reverse;
    height: 100%;
  }

  .formG2Div{
    margin-top: 5px;
    width: 100%;
    padding-bottom: 5px;
  }

  .introG2{
    width: 95%;
    object-fit: scale-down;
  }
  .h5{
    width: 100%;
  }

  .imagesG2{
    grid-template-columns: repeat(1, 1fr);
  }


  .imagesG2 img{
    height: 100%;
  }

  .galleryToExtGalleryBtn{
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    justify-content: center;
  }
  
  footer{
    padding-bottom: 10px;
  }

  .btnAndFooterG2 h5{
    text-align: center;
  }

}

@media (max-width: 900px){
  .formG2{
    margin-top: 10%;
  }
}