@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
/* @import "~react-image-gallery/styles/css/image-gallery.css"; */

* {
  font-family: "Lato", arial, helvetica, sans-serif;
}

.homeContainer {
  width: 100%;
}

.mainScren {
  width: 100%;
  height: auto;
}

.video-container {
  margin: 0 0;
  padding: 0 0;
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  z-index: 1;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 100px;
  animation-name: fade;
  animation-duration: 14.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  object-fit: cover;
}

.info {
  margin-top: 100px;
  width: 100%;
  display: flex;
  height: 100vh;
}

.explained {
  width: 25%;
  text-align: center;
  background-color: #c3bbb1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.explained h2 {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.explained h1 {
  font-size: 40px;
}

.explained ul {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  list-style-type: disc;
  list-style-position: inside;
  text-align: left;
}

.explained li {
  position: relative;
  left: 10%;
  width: 90%;
  padding: 5px 0;
  font-size: 18px;
  font-weight: bold;
}

.explained h3 {
  font-size: 25px;
  padding: 5px 0;
  font-weight: bold;
}

.explained hr {
  border-color: black;
  width: 85%;
  margin: 0 auto;
}

.galleryContainer {
  background-color: #222222;
  width: 50%;
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.galleryContainer img {
  width: 50%;
  padding: 0 1%;
  padding-top: 1%;
}

.galleryHRs {
  display: flex;
}

.galleryHR {
  width: 40%;
  margin: 0 auto;
  margin-top: 4px;
  height: 1.5px;
  background-color: white;
}

.galleryButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.galleryButton {
  background-color: #cc0033;
  width: 125px;
  height: 75px;
  font-size: 20px;
  border-top: 5px solid #cccccc;
  border-bottom: 5px solid #a30029;
  border-left: 0px;
  border-right: 0px;
  font-weight: bold;
}

@keyframes buttonHover {
  0% {
    transform: translateY(1px);
    border-top: 4px solid #cccccc;
    border-bottom: 4px solid #a30029;
  }
  25% {
    transform: translateY(1.5px);
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #a30029;
  }
  50% {
    transform: translateY(2px);
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #a30029;
  }
  75% {
    transform: translateY(2.5px);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #a30029;
  }
  100% {
    transform: translateY(3px);
    border-top: 0;
    border-bottom: 0;
  }
}

@keyframes buttonReverse {
  0% {
    transform: translateY(3px);
    border-top: 0;
    border-bottom: 0;
  }
  25% {
    transform: translateY(2.5px);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #a30029;
  }
  50% {
    transform: translateY(2px);
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #a30029;
  }
  75% {
    transform: translateY(1.5px);
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #a30029;
  }
  100% {
    transform: translateY(1px);
    border-top: 4px solid #cccccc;
    border-bottom: 4px solid #a30029;
  }
}

.galleryButton:hover {
  cursor: pointer;
  animation-name: buttonHover;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.galleryButton:not(:hover) {
  animation-name: buttonReverse;
  animation-duration: 0.05s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* .galleryButton:hover:not(:focus){
    animation-name: buttonUnHover;
    animation-duration: 0.05s;
    animation-fill-mode: forwards;
    animation-play-state: running;
  } */

.callToAction {
  width: 25%;
  height: 100%;
  text-align: center;
  background-color: #c3bbb1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.callToAction h3{
  font-size: 30px;
}

.phoneNumber{
  font-size: 25px;
  font-weight: bold;
  color: #CE2C2A;
}

.formAndStyles{
  width: 100%;
  background-color: #1A1205;
  display: flex;
  flex-direction: row;
}

.formDiv{
  padding-bottom: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.formDiv h3{
  width: 50%;
  font-size: 14px;
  background-color: #FFFF99;
  border: 3px solid #669933;
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
}

.formDiv h3:hover{
  cursor: default;
}

.formDiv form{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  padding-top: 10px;
}

.formDiv input{
  padding: 10px;
  padding-top: 10px;
  margin-top: 10px;
  background-color: #D1D0CD;
  color: black;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
}

.formDiv .submit{
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

.qualification{
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  padding-right: 30px;
}

.qualification .topHalf{
  color: rgb(255,255,204);
  font-weight: normal;
}

.qualification .subContract{
  color: #12BC29;
}

.stylesDiv{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: flex-start;
  color: white;
  margin: 0 auto;
}

.stylesDiv h4{
  color: #FFFFCC;
  font-size: 22px;
  text-align: center;
}

.stylesDiv ul{
  color: #FFFFCC;
  font-size: 20px;
  width: 50%;
  margin-left: 5%;
  list-style-type: disc;
}

.stylesDiv ul li{
  color: #FFFFCC;
  width: 100%;
  overflow: hidden;
  position: relative;
  left: 20%;
}

/* .qualificationImgContainer{
  display: flex;
  align-items: center;
} */


.typesAndScroll{
  background-color: #9A8F80;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

.refacingTypes{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding: 3%;
  
}

.refacingTypes h1{
  text-align: center;
  font-size: 45px;
  margin-right: 5%;
  color: #4E271A;
}

.refacingLists{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}

.refacingLists ul{
  width: 100%;
  font-size: 28px;
  padding-left: 20px;
  color: white;
}


.imageGalleryContainer img{
  width: 50vw;
  height: 500px !important;
}

footer{
  background-color: #1A1205;
  width: 100%;
  height: 150px;
  color: #3E8833;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer h4{
  color: white;
  font-weight: normal;
}

footer p{
  color: black;
  font-size: 0.5px;
  position: absolute;
  bottom: 0;
}
.container{
  background-image: none;
}


/* .phoneAndAnn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formDivAndQual{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
} */




@media (max-width: 1150px) {
  .homeContainer{
    margin-top: 60px;
  }

  .video-container{
    margin-top: -20px;
    height: calc(100vh - 100px);
  }

  .info{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .explained{
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .topExplain{
    width: 33%;
  }
  .popBreak{
    display: none;
  }

  .galleryContainer{
    width: 100%;
    /* height: 100vh; */
    padding-bottom: 10px;
  }

  .callToAction{
    width: 100%;
    height: 250px;
    flex-direction: row;
    /* margin-top: 100px; */
    text-align: center;
    align-items: center;
  }

  .callToAction h2{
    width: 40%;
    font-size: 20px;
  }

  .callToAction h3{
    font-size: 20px;
  }

  .annImg{
    width: 35%;
    object-fit: contain;
  }

  .phoneAndAnn{
    flex-direction: row;
    justify-content: space-evenly;
  }

  .formAndStyles{
    flex-direction: column;
  }

  .formDiv{
    width: 100%;
  }

  .qualification{
    width: 100%;
  }

  .qualImg{
    width: 80%;
    margin: 0 auto;
  }

  .stylesDiv{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .stylesDiv ul {
    width: 100%;
  }

  .stylesDiv ul li{
    width: 100%;
    left: 0;
  }

  .refacingLists li{
    font-size: 22px;
  }
}


